<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>个人简历</title>
    <!-- Bootstrap的核心css文件-->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"/>
    <!--mycss-->
    <link rel="stylesheet" href="css/index.css"/>
</head>
<body data-spy="scroll" data-target="#navbar-example">

<!--导航条开始-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-example" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="images/indexImg/AGlogo.png" alt="图标"
                                                  style="width: 50px;height: 44px;margin-top: -12px"/></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-example">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#page-one">自我介绍</a></li>
                <li><a href="#page-two">我的大学</a></li>
                <li><a href="#page-three">大学生活</a></li>
                <li><a href="#page-four">个人简介</a></li>
                <li><a href="#page-five">我的作品</a></li>
                <li><a href="#page-six">联系方式</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--右侧按钮-->
<div class="rightBtn hidden-xs hidden-sm">
    <button type="button" class="btn btn-primary btn-lg btn-block">
        <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-block">
        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
    </button>
</div>
<!--第一页-->
<div class="page" id="page-one">
    <ul>
        <li>
            <span>设</span>
            <span>自</span>
        </li>
        <li>
            <span>计</span>
            <span>我</span>
        </li>
        <li>
            <span>说</span>
            <span>介</span>
        </li>
        <li>
            <span>明</span>
            <span>绍</span>
        </li>
    </ul>
    <div class="myContainer">
        <!--显示视频播放器的video标签-->
        <video src="video/fun.mp4" controls="controls" class="center-block"></video>
    </div>
</div>
<!--第二页-->
<div class="page" id="page-two">
    <div class="myContainer" style="background-color: #ccc">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                           aria-expanded="true" aria-controls="collapseOne">
                            安阳工学院-简介
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object hidden-xs" src="images/indexImg/AGlogo.png"
                                         alt="安阳工学院"
                                         style="width: 100px;height: 80px;">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">安阳工学院</h4>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;安阳工学院（Anyang Institute of
                                Technology）是一所省属全日制普通本科高校，位于历史文化名城、中国八大古都之一的河南省安阳市，其前身安阳大学始建于1983年。2004年5月经教育部批准升格为本科院校，更名为安阳工学院。<br/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;截止2013年10月，学校占地面积90.1万㎡，总建筑面积61万平方米，有专任教师807人，有全日制普通本专科在校生17906人，设置有18个教学院部，开设46个本科专业，涵盖工学、理学、管理学、经济学、文学、法学、艺术学、农学等8个学科门类，已逐步发展为以工科为主、多学科协调发展、办学特色鲜明的教学型普通本科院校。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            计算机科学与信息工程学院
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;安阳工学院计算机科学与信息工程学院（原计算机工程系）始建于1993年，现有“计算机科学与技术”（分为嵌入式应用和信息技术两个专业方向）、“网络工程”、“软件工程”和“物联网工程”四个本科专业，面向社会培养高级技术性、应用性工程技术人才。其中“计算机科学与技术”专业为河南省特色专业和校级品牌专业。计算机科学与信息工程学院在校生1800余名。<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计算机科学与信息工程学院拥有一支朝气蓬勃、学术气氛浓郁、认真负责的教师队伍。现有教职工55人，其中教授6人，硕士研究生49人，在读硕士研究生3人，省教育厅学术带头人1名，安阳市学术带头人2名。并聘请中国科学技术大学信息科学技术学院副院长黄刘生教授等三名专家担任客座教授，聘请北京航空航天大学杨文龙教授、解放军信息工程大学博士生导师谢培泰教授担任兼职教授。近几年，先后完成省部级以上课题、企业合作项目60余项，其中10余项获省市级以上奖励，发表学术论文200多篇，出版著作30多部。获院级精品课程4门。该系教师在历届学院举行的优质课比赛中取得优异成绩，连续两届获得一等奖第一名。<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计算机科学与信息工程学院拥有完善的教学设施和良好的实践教学条件。现有的软件实验室、硬件实验室、嵌入式系统实验室、飞思卡尔单片机实验室、网络工程实验室、学生创新实验室等专业实验室，可以全面支持计算机软件类、硬件类、网络类等课程实验。同时，计算机科学与信息工程学院还与省内外的一些知名公司、企业建立了20多个实习实训基地，为学生就业提供了有利条件。<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计算机科学与信息工程学院积极探索应用型工程技术人才培养模式，努力办出特色。尤其是结合实验室建设，强化实践教学环节，在系内广泛推行导师制教学改革，大大提高了学生的动手能力和技术创新能力。紧密结合社会需要，通过与企业合作，形成了广受社会欢迎的特色专业方向。如较早开展的嵌入式应用专业方向，已经形成比较系统的特色课程体系，2005年得到了飞思卡尔公司（原摩托罗拉公司半导体部）的大学项目计划资助，合作建立了飞思卡尔实验室。
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            校园风光
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <div class="myView">
                            <ul>
                                <li><img src="images/indexImg/ag1.jpg" alt=""></li>
                                <li><img src="images/indexImg/ag2.jpg" alt=""></li>
                                <li><img src="images/indexImg/ag3.jpg" alt=""></li>
                                <li><img src="images/indexImg/ag4.jpg" alt=""></li>
                                <li><img src="images/indexImg/ag5.jpg" alt=""></li>
                                <li><img src="images/indexImg/ag6.jpg" alt=""></li>
                                <li><img src="images/indexImg/ag7.jpg" alt=""></li>
                                <li><img src="images/indexImg/ag8.jpg" alt=""></li>
                                <li><img src="images/indexImg/ag9.jpg" alt=""></li>
                                <li><img src="images/indexImg/ag10.jpg" alt=""></li>
                                <li><img src="images/indexImg/ag11.jpg" alt=""></li>
                                <li><img src="images/indexImg/ag12.jpg" alt=""></li>
                                <li><img src="images/indexImg/ag13.jpg" alt=""></li>
                                <li><img src="images/indexImg/ag14.jpg" alt=""></li>
                                <li><img src="images/indexImg/ag15.jpg" alt=""></li>
                                <li><img src="images/indexImg/ag1.jpg" alt=""></li>
                                <li><img src="images/indexImg/ag2.jpg" alt=""></li>
                                <li><img src="images/indexImg/ag3.jpg" alt=""></li>
                                <li><img src="images/indexImg/ag4.jpg" alt=""></li>
                                <li><img src="images/indexImg/ag5.jpg" alt=""></li>
                            </ul>
                        </div>
                        <p class="text-center hidden-lg hidden-md hidden-sm">登乐游原</p>

                        <p class="text-center hidden-lg hidden-md hidden-sm">向晚意不适，驱车登古原。</p>

                        <p class="text-center hidden-lg hidden-md hidden-sm">夕阳无限好，只是近黄昏。</p>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center"><a class="btn btn-primary btn-lg" href="##" role="button">
            <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
        </a></p>
        <audio src="audio/痛仰乐队%20-%20安阳.mp3" controls="controls" loop class="center-block hidden animated"></audio>
    </div>
</div>
<!--第三页-->
<div class="page" id="page-three">
    <div class="myContainer">
        <div class="bs-example center-block" data-example-id="carousel-with-captions">
            <div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-example-captions" data-slide-to="2" class=""></li>
                    <li data-target="#carousel-example-captions" data-slide-to="3" class=""></li>
                    <li data-target="#carousel-example-captions" data-slide-to="4" class=""></li>
                    <li data-target="#carousel-example-captions" data-slide-to="5" class=""></li>
                    <li data-target="#carousel-example-captions" data-slide-to="6" class=""></li>
                    <li data-target="#carousel-example-captions" data-slide-to="7" class=""></li>
                    <li data-target="#carousel-example-captions" data-slide-to="8" class=""></li>
                    <li data-target="#carousel-example-captions" data-slide-to="9" class=""></li>
                    <li data-target="#carousel-example-captions" data-slide-to="10" class=""></li>
                    <li data-target="#carousel-example-captions" data-slide-to="11" class=""></li>
                    <li data-target="#carousel-example-captions" data-slide-to="12" class=""></li>
                    <li data-target="#carousel-example-captions" data-slide-to="13" class=""></li>
                    <li data-target="#carousel-example-captions" data-slide-to="14" class=""></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img data-src="holder.js/900x500/auto/#777:#777" alt="900x500"
                             src="images/indexImg/1.jpg" data-holder-rendered="true">
                        <div class="carousel-caption">
                            <h3>开始的地方</h3>
                            <p>那年夏天，独自一人来到了安阳，来到了我们亲爱的学校——安阳工学院。开始了最美好的青春时光......</p>
                        </div>
                    </div>
                    <div class="item">
                        <img data-src="holder.js/900x500/auto/#666:#666" alt="900x500"
                             src="images/indexImg/2.jpg" data-holder-rendered="true">
                        <div class="carousel-caption">
                            <h3>军训的日子</h3>
                            <p>依然还记得军训时的口号，依然还记得顶着炎炎烈日站军姿，依然还记得和别的方队扯着嗓子对喊，依然还记得教官走的时候我们每个人留下的眼泪。</p>
                        </div>
                    </div>
                    <div class="item">
                        <img data-src="holder.js/900x500/auto/#555:#555" alt="900x500"
                             src="images/indexImg/3.jpg" data-holder-rendered="true">
                        <div class="carousel-caption">
                            <h3>班级聚餐一</h3>
                            <p>那是学校餐厅二楼的小火锅，大学第一次聚会，大家那天喝的都挺多，可是都很开心，这一次不仅仅拉近了我们每个人与每个人之间的距离，也凝聚了我们真个班级。</p>
                        </div>
                    </div>
                    <div class="item">
                        <img data-src="holder.js/900x500/auto/#555:#555" alt="900x500"
                             src="images/indexImg/4.jpg" data-holder-rendered="true">
                        <div class="carousel-caption">
                            <h3>游玩小记一</h3>
                            <p>我们去了羑里城，我们去了岳飞庙，我们走了好长好长的路，我们有说有笑，有打有闹，因为我们是一家人。</p>
                        </div>
                    </div>
                    <div class="item">
                        <img data-src="holder.js/900x500/auto/#555:#555" alt="900x500"
                             src="images/indexImg/5.jpg" data-holder-rendered="true">
                        <div class="carousel-caption">
                            <h3>班级聚餐二</h3>
                            <p>一年的时光，我们学会了逃课，学会了睡懒觉，学会了在大学里貌似本应该学会的“东西”，一年的时间里我们都有所变化，唯独不变的是我们的这份班级情！</p>
                        </div>
                    </div>
                    <div class="item">
                        <img data-src="holder.js/900x500/auto/#555:#555" alt="900x500"
                             src="images/indexImg/6.jpg" data-holder-rendered="true">
                        <div class="carousel-caption">
                            <h3>游玩小记二</h3>
                            <p>这次我们来到了新乡八里沟，有水的地方总会给人美的心境。我们在这里烧烤，在这里唱歌欢笑，在这里感叹大自然的美好。</p>
                        </div>
                    </div>
                    <div class="item">
                        <img data-src="holder.js/900x500/auto/#555:#555" alt="900x500"
                             src="images/indexImg/7.jpg" data-holder-rendered="true">
                        <div class="carousel-caption">
                            <h3>班级聚餐三</h3>
                            <p>我们自己去菜市场买菜，卖肉，去其他地方买烧烤用料，我们自己动手，哪怕没有别人烤的好，但是吃到嘴里的每一口，我们都视为佳肴。</p>
                        </div>
                    </div>
                    <div class="item">
                        <img data-src="holder.js/900x500/auto/#555:#555" alt="900x500"
                             src="images/indexImg/8.jpg" data-holder-rendered="true">
                        <div class="carousel-caption">
                            <h3>游玩小记三</h3>
                            <p>第一次去海边，当看到海的广阔的时候，整个人的心情都是舒畅的。虽然这次班里去的人很少，但我们依旧玩的很开心。</p>
                        </div>
                    </div>
                    <div class="item">
                        <img data-src="holder.js/900x500/auto/#555:#555" alt="900x500"
                             src="images/indexImg/9.jpg" data-holder-rendered="true">
                        <div class="carousel-caption">
                            <h3>游玩小记四</h3>
                            <p>登上了长城，看了天安门广场，进了故宫，可能每个人从小都有一个向往天安门的梦，这次实现了我的儿时梦。</p>
                        </div>
                    </div>
                    <div class="item">
                        <img data-src="holder.js/900x500/auto/#555:#555" alt="900x500"
                             src="images/indexImg/10.jpg" data-holder-rendered="true">
                        <div class="carousel-caption">
                            <h3>第一次班会</h3>
                            <p>具体的内容已经不清，只知道当时自己很紧张，第一次当着这么多人的面公布事情，商量事情，决定事情，不过很感谢大学的历练与成长。</p>
                        </div>
                    </div>
                    <div class="item">
                        <img data-src="holder.js/900x500/auto/#555:#555" alt="900x500"
                             src="images/indexImg/11.jpg" data-holder-rendered="true">
                        <div class="carousel-caption">
                            <h3>我们在参观</h3>
                            <p>第一次走进物理实验室，看着里面那些令人吃惊的成果，你不觉感叹人类是多么的伟大，知识是多么的重要。</p>
                        </div>
                    </div>
                    <div class="item">
                        <img data-src="holder.js/900x500/auto/#555:#555" alt="900x500"
                             src="images/indexImg/12.jpg" data-holder-rendered="true">
                        <div class="carousel-caption">
                            <h3>我们在表演</h3>
                            <p>英语课上的话剧表演，虽然只会简简单单的说一些基本的语句，甚至还会夹杂着汉语，哪有怎样，敢于尝试，敢于表现就是成功。</p>
                        </div>
                    </div>
                    <div class="item">
                        <img data-src="holder.js/900x500/auto/#555:#555" alt="900x500"
                             src="images/indexImg/13.jpg" data-holder-rendered="true">
                        <div class="carousel-caption">
                            <h3>我们在路上</h3>
                            <p>这条通往宿舍的道路走了四年，现在走的时候再也看不见那些熟悉的脸了。最多的只有自己的背影...</p>
                        </div>
                    </div>
                    <div class="item">
                        <img data-src="holder.js/900x500/auto/#555:#555" alt="900x500"
                             src="images/indexImg/14.jpg" data-holder-rendered="true">
                        <div class="carousel-caption">
                            <h3>我们要离开了</h3>
                            <p>总说毕业遥遥无期，可是转眼我们就要各奔东西了，有些人或许一别就是一辈子的事，同学，珍重...</p>
                        </div>
                    </div>
                    <div class="item">
                        <img data-src="holder.js/900x500/auto/#555:#555" alt="900x500"
                             src="images/indexImg/15.jpg" data-holder-rendered="true">
                        <div class="carousel-caption">
                            <h3>再见，安工</h3>
                            <p>再见了，安工。再见了，生活四年的地方...</p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-captions" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-captions" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!--第四页-->
<div class="page" id="page-four">
    <div class="myContainer">
        <div class="myPic hidden-xs">
            <img src="images/indexImg/dpp.jpg" alt=""/>
        </div>
        <h3>董沛沛</h3>

        <p>男 24岁 中共党员 所在城市：安阳 | 本科</p>

        <p>18317713435 1310398147@qq.com</p>

        <h3>求职意向</h3>

        <p>web前段工程师</p>

        <h3>教育经历</h3>

        <p>2012.09 - 至今 安阳工学院 物联网工程 本科</p>

        <h3>校内经历</h3>

        <p>2012.10 - 2013.06 安阳工学院计算机科学与信息工程学院学生会 干事</p>

        <p>在职期间，积极配合部长工作，先后参与过系迎新晚会，系女生节，系运动会排舞等重大活动的筹备工作。具有一定的组织能力。</p>

        <p>2012.09 - 至今 12级物联网工程1班 班长</p>

        <p>自入学以来一直担任本班班长一职，任职期间积极组织本班参加学校和学院举办的活动，并荣获许多荣誉，如趣味运动会团体一等奖，院级“先进团支部”，校级“文明班级”等。具有一定的领导能力。</p>

        <h3>工作经历</h3>

        <p>暂无</p>

        <h3>项目经历</h3>

        <p>暂无</p>

        <h3>获奖情况</h3>

        <p>2013.05 校级“模范学生干部”</p>

        <p>2014.05 省级“三好学生”</p>

        <p>2015.11 国家励志奖学金</p>

        <h3>个人技能</h3>

        <p>了解CSS3和HTML5新属性、新方法。</p>

        <p>熟悉Javascript脚本语言，JQuery框架，能独立编写脚本文件，实现网页特效和用户交互体验。</p>

        <p>熟悉一些流行框架的运用。</p>

        <p>熟悉DOM、Ajax、JSON和事件处理机制。</p>

        <p>了解Node.js相关开发，会利用命令行工具对文件进行简单的操作。</p>

        <h3>自我评价</h3>

        <p>具有良好的表达和沟通能力，对工作认真负责，具有良好的抗压能力，具有良好的团队合作精神。</p>
    </div>
</div>
<!--第五页-->
<div class="page" id="page-five">
    <div class="myContainer">
        <div class="myLine">
            <h2>作品集/Personal Portfolio</h2>
        </div>
        <div class="col-xs-4 col-md-3">
            <div class="myThumbnail">
                <a href="staticWeb1.html" title="静态页面1" target="_blank">
                    <img src="images/indexImg/D.jpg"></a>
            </div>
        </div>
        <div class="col-xs-4 col-md-3">
            <div class="myThumbnail">
                <a href="staticWeb2.html" title="静态页面2" target="_blank">
                    <img src="images/indexImg/O.jpg"></a>
            </div>
        </div>
        <div class="col-xs-4 col-md-3">
            <div class="myThumbnail">
                <a href="jd.html" title="仿京东首页" target="_blank">
                    <img src="images/indexImg/N.jpg"></a>
            </div>
        </div>
        <div class="col-xs-4 col-md-3">
            <div class="myThumbnail">
                <a href="clh.html" title="结合JS创建的动态网页" target="_blank">
                    <img src="images/indexImg/G.jpg"></a>
            </div>
        </div>
        <div class="col-xs-4 col-md-3">
            <div class="myThumbnail">
                <a href="360.html" title="仿360页面" target="_blank">
                    <img src="images/indexImg/P.jpg"></a>
            </div>
        </div>
        <div class="col-xs-4 col-md-3">
            <div class="myThumbnail">
                <a href="C3.html" title="CSS3实现的动画效果" target="_blank">
                    <img src="images/indexImg/E.jpg"></a>
            </div>
        </div>
        <div class="col-xs-4 col-md-3">
            <div class="myThumbnail">
                <a href="3D.html" title="3D特效在页面中的显示" target="_blank">
                    <img src="images/indexImg/I.jpg"></a>
            </div>
        </div>
        <div class="col-xs-4 col-md-3">
            <div class="myThumbnail">
                <a href="flex.html" title="伸缩布局" target="_blank">
                    <img src="images/indexImg/W.jpg"></a>
            </div>
        </div>
        <div class="col-xs-4 col-md-3">
            <div class="myThumbnail">
                <a href="waterfall.html" title="瀑布流特效" target="_blank">
                    <img src="images/indexImg/O.jpg"></a>
            </div>
        </div>
        <div class="col-xs-4 col-md-3">
            <div class="myThumbnail">
                <a href="weijinsuo.html" title="移动web" target="_blank">
                    <img src="images/indexImg/R.jpg"></a>
            </div>
        </div>
        <div class="col-xs-4 col-md-3">
            <div class="myThumbnail">
                <a href="callTheRoll.html" title="页面中点名系统的实现" target="_blank">
                    <img src="images/indexImg/K.jpg"></a>
            </div>
        </div>
        <div class="col-xs-4 col-md-3">
            <div class="myThumbnail">
                <a href="flyBird.html" title="页面小游戏" target="_blank">
                    <img src="images/indexImg/S.jpg"></a>
            </div>
        </div>
    </div>
</div>
<!--第六页-->
<div class="page" id="page-six">
    <div class="myContainer">
        <h2>联系我/Contact Me</h2>
        <div class="chat">
            <div class="chatMe hidden animated">
                <div class="messages">
                </div>
                <div class="form">
                    <div class="input">
                        <textarea></textarea>
                    </div>
                    <div class="btn">
                        <input type="button" value="发送">
                    </div>
                </div>
            </div>
            <div class="clock hidden-xs animated">
                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>
                <div class="line line4"></div>
                <div class="line line5"></div>
                <div class="line line6"></div>
                <div class="cover"></div>
                <div class="dotted"></div>
                <div id="h"></div>
                <div id="m"></div>
                <div id="s"></div>
            </div>
        </div>
        <div class="info">
            <h3>个人信息/Personal Information</h3>
            <br/>
            <p>姓名： 董沛</p>
            <p>电话： 18317713435</p>
            <p>QQ： 1310398147</p>
            <p>邮箱： 1310398147@qq.com</p>
            <p>地址：安阳市文峰区 三里屯学生公寓2号楼406</p>
            <h4 style="color: indianred">如果您对我感兴趣的话，可以点击下面按钮及时联系我哦！</h4>
            <br/>
            <p class="text-left">
                <a class="btn btn-success btn-lg" href="##" role="button">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </a>
            </p>
        </div>
    </div>
</div>

</body>
</html>
<!--jQuery-->
<script src="lib/jquery/jquery.min.js"></script>
<!--bootstrap的核心js文件-->
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<!--模板引擎-->
<script src="lib/template/template-native.js"></script>
<!--myjs-->
<script src="js/index.js"></script>
<!--模板chat-->
<script type="text/template" id="chat">
    <div class="<%= flag %>">
        <h5><%= name %></h5>
        <p><%= text %></p>
    </div>
</script>
